.heading {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.results {
  background-color: #eaecf0;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}

.no_results {
  width: 185px;
}

@media only screen and (max-width: 400px) {
  .no_results {
    width: 45vw;
  }
}
